@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
/* font-family: 'Work Sans', sans-serif; */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Work Sans', sans-serif;
}

header {
	width: 100vw;
	height: 700px;
	background-image: url(images/banner/banner1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.text-content {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.h1-text {
	font-size: 40px;
}

.hero-content {
	width: 300px;
	text-align: right;
}

.paragraph {
	margin: 15px 0;
}

.button {
	padding: 15px 20px;
	border: none;
	font-weight: bold;
	background-color: #f15b22;
	color: aliceblue;
	border-radius: 5px;
}

.model {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 70px 0;
}

.model-img {
	width: 50%;
}

.model-img img {
	width: 400px;
}

.model-details {
	width: 45%;
}

.model-txtcontent {
	width: 400px;
}

.list {
	list-style-type: none;
}

.list li {
	margin: 3px;
}

.fa-check {
	color: #16d887;
}

.my-plan {
	display: flex;
	justify-content: space-around;
	padding: 50px;
}
.h1-myplan {
	font-size: 40px;
	text-align: center;
}

.plan-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.h4-text {
	margin: 5px 0;
}

.call-to-action {
	width: 1140px;
	height: 300px;
	margin: 30px 0;
	background-image: linear-gradient(to right, #f15b22, #f15b2200),
		url(images/watch.png);
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.ctl-content {
	width: 40%;
	padding: 60px;
}

.ctl-content {
	font-size: 25px;
	color: aliceblue;
}

.ctl-btn {
	padding: 15px 20px;
	font-weight: bold;
	border: none;
	margin: 10px 0;
	border-radius: 5px;
	color: #f15b22;
}
